/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */

/* Some styling added for the scoreboard message */
/* Emmanuel 19102016 */

h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

button {
	background: #3498db;
	font-size: 20px;
	font-family: Arial;
	color: white;
}

footer {
	text-align: center;
	background-color: #808080;
}

nav {
	background-color: #808080;
}

nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}

nav a:hover {
	background-color: #ee5f3c;
}

h1, h2, p {
	text-align: center;
}

div h2 {
	text-align: left;
	color: #3498db;
	font-family: Arial;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid;
	border-radius: 10px;
	background-color: yellow;
	float: left;
	margin: 8%;
}

.scoreboard {
	height: 50%;
	width: 50%;
	float: right;
	padding: 25px 0px;
}

.buttonsection {
	width: 50%;
	height: 50%;
}

.name {
	color: #ff0000;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.result {
	font-family: "Lucida console", "Arial";
	color: maroon;
	font-size: 25px;
	margin: 1.5em;
}